<a href="https://colab.research.google.com/github/rishabhkesarwanii/Machine-Learning-Lab/blob/main/Splitiing_the_Data/ML_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("/content/Uber Request Data.csv")

In [4]:
df.head()

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp
0,619,Airport,1.0,Trip Completed,11/7/2016 11:51,11/7/2016 13:00
1,867,Airport,1.0,Trip Completed,11/7/2016 17:57,11/7/2016 18:47
2,1807,City,1.0,Trip Completed,12/7/2016 9:17,12/7/2016 9:58
3,2532,Airport,1.0,Trip Completed,12/7/2016 21:08,12/7/2016 22:03
4,3112,City,1.0,Trip Completed,13-07-2016 08:33:16,13-07-2016 09:25:47

In [5]:
from sklearn.model_selection import train_test_split

In [9]:
X = df['Request timestamp']
y = df['Drop timestamp']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.27, shuffle = True)

In [11]:
X_train

2650    13-07-2016 22:08:31
1630    13-07-2016 21:16:33
4827        12/7/2016 17:52
3166    15-07-2016 09:58:03
4506        11/7/2016 20:48
               ...
3772    14-07-2016 07:18:19
5191    13-07-2016 06:44:03
5226    13-07-2016 08:42:30
5390    13-07-2016 19:05:33
860     15-07-2016 15:15:03
Name: Request timestamp, Length: 4923, dtype: object

In [13]:
X_test

2531    13-07-2016 03:55:10
4591        11/7/2016 23:30
4127         11/7/2016 3:07
3624    15-07-2016 19:18:51
5494    13-07-2016 21:11:29
               ...
5265    13-07-2016 13:18:21
6333    15-07-2016 11:44:53
1095    15-07-2016 23:57:32
3545    14-07-2016 13:05:58
6047    14-07-2016 20:35:30
Name: Request timestamp, Length: 1822, dtype: object

In [14]:
y_train

2650    13-07-2016 23:26:52
1630    13-07-2016 22:16:02
4827                    NaN
3166                    NaN
4506                    NaN
               ...
3772                    NaN
5191                    NaN
5226                    NaN
5390                    NaN
860     15-07-2016 16:22:39
Name: Drop timestamp, Length: 4923, dtype: object

In [15]:
y_test

2531    13-07-2016 05:06:41
4591                    NaN
4127                    NaN
3624                    NaN
5494                    NaN
               ...
5265                    NaN
6333                    NaN
1095    16-07-2016 01:09:24
3545                    NaN
6047                    NaN
Name: Drop timestamp, Length: 1822, dtype: object